.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.auth-form-container, .login-form, .register-form{
  display: flex;
  flex-direction: column;
}

/* .auth-form-container {
  padding: 5 rem;
  border: 1px solid #000;
  border-radius: 10px;
} */


label{
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5 rem 0;
}

button {
  border: none;
  background-color: #3aac28;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 5px;
  font-weight:700;

}

.link {
  color:grey;
}